<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/mystyle.css">
    <link rel="stylesheet" href="/stylesheets/inputrange.scss">
</head>

<body>
<header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
                    width="30" height="30" class="d-inline-block align-top" alt="好。吃">
                我的餐廳清單
            </a>
            <div>
                 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">新增餐廳</button>
            </div>
        </div>
        
    </nav>

    <div class="banner"></div>
</header>

<!-- Modal -->
<form action="/rests" method="POST">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">新增餐廳表單</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body addnewform">
                    <div class="">
                        
                            <div class="form-group ">
                                <label for="exampleInput1">餐廳中文名稱</label>
                                <input type="text" class="form-control" id="exampleInput1" aria-describedby="emailHelp"
                                    placeholder="輸入中文名稱..." name="name">
                            </div>
                            <div class="form-group">
                                <label for="exampleInput2">餐廳英文名稱(選填)</label>
                                <input type="text" class="form-control" id="exampleInput2" placeholder="Enter English Name..." name="name_en">
                            </div>
                            <div class="form-group">
                                <label for="inputState">餐廳類型</label>
                                <select id="inputState" class="form-control" name="category">
                                    <option selected>Choose...</option>
                                    <option>日式</option>
                                    <option>中東</option>
                                    <option>義式</option>
                                    <option>美式</option>
                                    <option>酒吧</option>
                                    <option>咖啡</option>
                                    <option>小吃</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlFile1">上傳餐廳圖片</label>
                                <input type="file" id="file-uploader" data-target="file-uploader" accept="image/*" multiple="multiple" name="image" />
                            </div>
                            <div class="form-group">
                                <label for="exampleInput2">餐廳地址</label>
                                <input type="text" class="form-control" id="exampleInput2" placeholder="輸入餐廳地址..." name="location">
                            </div>
                            <div class="form-group">
                                <label for="exampleInput2">連絡電話</label>
                                <input type="text" class="form-control" id="exampleInput2" placeholder="輸入連絡電話..." name="phone">
                            </div>
                            <div class="form-group">
                                <label for="exampleInput2">餐廳GoogleMap位址</label>
                                <input type="text" class="form-control" id="exampleInput2" placeholder="Enter GoogleMap ..." name="google_map">
                            </div>
                            <div class="form-group">
                                <div class="left">
                                    <label for="customRange1">評比分數</label>
                                    <input type="range" class="range-rgb-r" min="0" max="5" step="0.1" name="rating" >
                                    <input type="number" class="form-control rgb-r-text"  placeholder="4.5" disabled >
                                    </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">餐廳描述</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
</form>

<!-- partial templates will replace the part of "body" here -->
{{{ body }}}

<script src="/javascripts/jquery-3.3.1.js"></script>
<script src="/javascripts/popper.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/myjs.js"></script>
</body>

</html>